<h2>Sign up for newsletter to receive news and specials</h2>
<!--浏览器方式提交表单-->
    {{!--<form class="form-horizontal" role="form" action="/process?form=nwesletter" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="fieldName" name="name">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="fieldEmail" name="email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>--}}

<!--Ajax方式处理表单-->
{{!--<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form" action="/process?form=nwesletter" method="POST">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="form-group">
            <label for="fieldName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldName" name="name">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="fieldEmail" name="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</div>


{{#section 'jquery'}}
    <script>
        $(document).ready(function() {
            $('.newsletterForm').on('submit', function(e) {
                e.preventDefault();
                var action = $(this).attr('action');
                //closest方法获得匹配选择器的第一个祖先元素，从当前元素开始沿 DOM 树向上
                var $container = $(this).closest('.formContainer');
                $.ajax({
                    url: action,
                    type: 'POST',
                    success: function(data) {
                        if(data.success) {
                            $container.html('<h2>Thank you!</h2>');
                        } else {
                            $container.html('There was a problrm');
                        }
                    },
                    error: function() {
                        $container.html('There was a problrm');
                    }
                })
            })
        })
    </script>
{{/section}}--}}

{{!--使用会话传递即时消息--}}
<form class="form-horizontal" role="form" action="/newsletter" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="fieldName" name="name">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="fieldEmail" name="email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

