<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>
<body>

    <div id="example1">
        <input  v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
    </div>
    <br>
	
	<div id="example2">
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>
	</div>
	<br>

	<div id="example3">
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		<label for="jack">Jack</label>
		<input type="checkbox" id="john" value="John" v-model="checkedNames">
		<label for="john">John</label>
		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		<label for="mike">Mike</label>
		<br>
		<span>Checked names: {{ checkedNames }}</span>
	</div>
	<br>

	<div id="example4">
		<select v-model="selected">
		  <option>A</option>
		  <option>B</option>
		  <option>C</option>
		</select>
		<span>Selected: {{ selected }}</span>
	</div>
	<br>

	<div id="example5">
		<select v-model="selected">
		  <option v-for="option in options" :value="option.value">
		   	{{ option.text }}
		  </option>
		</select>
		<span>Selected: {{ selected }}</span>		
	</div>



<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="forms.js"></script>   
</body>
</html>