p {
	height: 150px;
	width: 250px;
	border: 2px solid #aaa;
	margin: 20px auto;
	text-align: center;
	line-height: 150px;
	background-image: url(images/turq_spiral_150.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}



