* {
	box-sizing: border-box;
}

.box {
	color: white;
	font-size: 40px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.3);
	padding: 10px;
}

.box1 {background-color: #1abc9c;}
.box2 {background-color: #3498db;}
.box3 {background-color: #9b59b4;}
.box4 {background-color: #34495e;}
.box5 {background-color: #f1c40f;}
.box6 {background-color: #e67e22;}
.box7 {background-color: #e74c3c;}
.box8 {background-color: #bdc3c7;}
.box9 {background-color: #2ecc71;}
.box10 {background-color: #16a5f5;}

.container {
	display: flex;
	flex-wrap: wrap;

	flex-direction: column;
	border: 10px solid goldenrod;
	height: 100vh;
}

.box {
	/*flex-basis: 500px;
	flex-grow: 1;*/

	flex-basis: 250px;
}

.box3 {
	/*flex-grow: 10;*/

	flex-grow: 5;
}

.box4 {
	flex-basis: 100px;
}
