.InputAddOn{
	display: flex;
	width: 300px;
	height: 30px;
}
.InputAddOn-item{
	display: inline-block;
	border:1px solid #f4f3f0;
	background-color: #f4f3f0;
	text-align: center;
	line-height: 30px;
	color: #9a9a9a;
}
.InputAddOn-field{
	border:1px solid #f4f3f0;
	width: 80%;
	color: #9a9a9a;
}
.InputAddOn-item{
	flex: 1;
}