@charset "utf-8";
#search{
	width: 100%;
	min-width: 1263px;
	height: 600px;
	background: url(../img/search.jpg) no-repeat center;
	position: relative;
}

#search .center{
	width: 600px;
	height: 60px;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -300px;
	opacity: 0.6;
	border-radius: 10px;
}
#search .search{
	width: 446px;
	height: 52px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -296px;
	color: #666;
	border:1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	padding: 0 10px;
	outline: none;  /*浏览器点击产生的边框效果*/
}

#search .button{
	width: 120px;
	height: 54px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 175px;
	color: #666;
	border:1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	outline: none;  
	cursor: pointer;
	font-weight: bold;
}

#tour{
	width: 1263px;
	height: 1150px;
	margin: 30 auto;
/*	background-color: #eee;*/
	text-align: center;
}
#tour .center h2{
	font-size: 45px;
	color: #666;
	letter-spacing: 2px;
	margin: 10px 0;
}
#tour .center p{
	color: #666;
	margin: 10px 0;
}
#tour figure{
	border:1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	margin: 15px 12px;
	width: 380px;
	text-align: left;
	position: relative;
}

#tour figure img{
	vertical-align:middle;
}

#tour figcaption{
	color: #777;
	line-height: 1.5;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 7px 0 5px 0;
}
#tour .info{
	padding: 5px 0;
}
#tour .title{
	color: #333;
	font-weight: bold;
}

#tour .sat{
	float: right;
	font-size: 14px;
	color: #999;
	font-style: normal;
	position: relative;
	top: 5px;
	right: 5px;
}

#tour .price{
	color: #f60;
	font-size: 14px;
}

#tour .price strong{
	font-size: 20px;
	letter-spacing: 1px;
}
#tour .type{
	width: 90px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color: #59b200;
	position: absolute;
	top: 4px;
	left: 4px;
}
