<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meadowlark Travel</title>

    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}

    {{! 自定义非辅助方法，在别的页面可以通过 #section 'head' 的方式引用}}
    {{{_sections.head}}}


</head>
<body>
    <header><img src="/img/logo.png" alt="Meadowlark Travel"></header>
    {{{body}}}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    {{! 自定义非辅助方法，在别的页面可以通过 #section 'jquery' 的方式引用}}
    {{{_sections.jquery}}}


    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/mocha.js"></script>
        <script src="/vendor/chai.js"></script>
        <script>
            mocha.ui('tdd');
            var assert = chai.assert;
        </script>
        <script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{ pageTestScript }}"></script>
        {{/if}}
        <script>mocha.run()</script>
    {{/if}}
</body>
</html>